@import "primeng/resources/themes/aura-dark-noir/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  background-color: var(--primary-section);
}

.card {
  background-color: var(--surface-card);
  border: 1px solid;
  border-color: var(--surface-border);
  border-radius:  0.75rem;
  box-shadow: var(--shadow-4);
  padding: 1.5rem;
}

/* border-1 border-round-xl surface-border surface-card shadow-4 min-h-full min-w-full */
